<%= form_for((@hashtag), :html => { class: "form-horizontal", :multipart => true }) do |f| %>
  <% if @hashtag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hashtag.errors.count, "error") %> prohibited this hashtag from being saved:</h2>

      <ul>
      <% @hashtag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="control-label col-sm-3"><b>Name</b></div>
    <div class="col-sm-9">
        <%= f.text_field :text, class: 'form-control' %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
